---
import { SITE, baseGraph } from '../lib/seo';

export interface Props {
	title: string;
	description: string;
	ogTitle?: string;
	ogDescription?: string;
	ogImage?: string;
	ogType?: string;
	keywords?: string;
	jsonLd?: Record<string, unknown> | Array<Record<string, unknown>>;
}

const {
	title,
	description,
	ogTitle,
	ogDescription,
	ogImage = '/images/logo.svg',
	ogType = 'website',
	keywords,
	jsonLd,
} = Astro.props;

const canonical = new URL(Astro.url.pathname, Astro.site).href;
const ogImageAbsolute = new URL(ogImage, Astro.site).href;

// Единый граф структурированных данных: базовые узлы (WebSite + LocalBusiness)
// объединяются со страничными узлами, переданными через проп jsonLd.
const pageNodes = Array.isArray(jsonLd) ? jsonLd : jsonLd ? [jsonLd] : [];
const structuredData = {
	'@context': 'https://schema.org',
	'@graph': [...baseGraph(), ...pageNodes],
};
---

<!doctype html>
<html lang="ru">
	<head>
		<!-- Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
		<meta name="description" content={description} />
		{keywords && <meta name="keywords" content={keywords} />}
		<meta name="author" content="За рулём — техпомощь Тюмень" />

		<!-- Page Title -->
		<title>{title}</title>
		<link rel="canonical" href={canonical} />

		<!-- Open Graph -->
		<meta property="og:type" content={ogType} />
		<meta property="og:site_name" content={SITE.brand} />
		<meta property="og:title" content={ogTitle ?? title} />
		<meta property="og:description" content={ogDescription ?? description} />
		<meta property="og:image" content={ogImageAbsolute} />
		<meta property="og:image:alt" content={ogTitle ?? title} />
		<meta property="og:url" content={canonical} />
		<meta property="og:locale" content="ru_RU" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={ogTitle ?? title} />
		<meta name="twitter:description" content={ogDescription ?? description} />
		<meta name="twitter:image" content={ogImageAbsolute} />

		<!-- Structured Data (JSON-LD / Schema.org) -->
		<script type="application/ld+json" set:html={JSON.stringify(structuredData)} is:inline />

		<!-- Favicon Icon -->
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- Bootstrap Css -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<!-- SlickNav Css -->
		<link href="/css/slicknav.min.css" rel="stylesheet" />
		<!-- Swiper Css -->
		<link rel="stylesheet" href="/css/swiper-bundle.min.css" />
		<!-- Font Awesome Icon Css-->
		<link href="/css/all.min.css" rel="stylesheet" media="screen" />
		<!-- Animated Css -->
		<link href="/css/animate.css" rel="stylesheet" />
		<!-- Magnific Popup Core Css File -->
		<link rel="stylesheet" href="/css/magnific-popup.css" />
		<!-- Mouse Cursor Css File -->
		<link rel="stylesheet" href="/css/mousecursor.css" />
		<!-- Main Custom Css -->
		<link href="/css/custom.css" rel="stylesheet" media="screen" />

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<!-- Preloader Start -->
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon"><img src="/images/loader.svg" alt="Загрузка" /></div>
			</div>
		</div>
		<!-- Preloader End -->

		<slot />


		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function(m,e,t,r,i,k,a){
				m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
				m[i].l=1*new Date();
				for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
				k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
			})(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=108393118', 'ym');

			ym(108393118, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/108393118" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->


		<!-- Jquery Library File -->
		<script is:inline src="/js/jquery-3.7.1.min.js"></script>
		<!-- Circle Progress Js File -->
		<script is:inline src="/js/circle-progress.min.js"></script>
		<!-- Bootstrap js file -->
		<script is:inline src="/js/bootstrap.min.js"></script>
		<!-- Validator js file -->
		<script is:inline src="/js/validator.min.js"></script>
		<!-- SlickNav js file -->
		<script is:inline src="/js/jquery.slicknav.js"></script>
		<!-- Swiper js file -->
		<script is:inline src="/js/swiper-bundle.min.js"></script>
		<!-- Counter js file -->
		<script is:inline src="/js/jquery.waypoints.min.js"></script>
		<script is:inline src="/js/jquery.counterup.min.js"></script>
		<!-- Magnific js file -->
		<script is:inline src="/js/jquery.magnific-popup.min.js"></script>
		<!-- SmoothScroll -->
		<script is:inline src="/js/SmoothScroll.js"></script>
		<!-- Parallax js -->
		<script is:inline src="/js/parallaxie.js"></script>
		<!-- MagicCursor js file -->
		<script is:inline src="/js/gsap.min.js"></script>
		<script is:inline src="/js/magiccursor.js"></script>
		<!-- Text Effect js file -->
		<script is:inline src="/js/SplitText.min.js"></script>
		<script is:inline src="/js/ScrollTrigger.min.js"></script>
		<!-- YTPlayer js File -->
		<script is:inline src="/js/jquery.mb.YTPlayer.min.js"></script>
		<!-- Wow js file -->
		<script is:inline src="/js/wow.min.js"></script>
		<!-- Main Custom js file -->
		<script is:inline src="/js/function.js"></script>
	</body>
</html>
